<header class="py-3">
    <h1 class="pt-3">
        <a href="/">Express a GuestBook</a>
        <a href="/new-entry" class="btn btn-primary float-right">White a GuestBook</a>
    </h1>
</header> 
<hr>    